{% extends "SNDLLPlatformBundle:Cotisation:cotisationlayout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Ajouter un type d'adhésion</h2>

    {{ include("SNDLLPlatformBundle:Cotisation/TypeAdhesion:form.html.twig") }}

    <p>
        <a href="{{ path('sndll_typeadhesion') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </p>
    <div class="alert alert-info" role="alert">
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Attention : ce type d'adhésion sera ajouté directement dans la base après validation du formulaire.
        </p>
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Les champs marqués d'une étoile (*) sont obligatoires
        </p>
    </div>
{% endblock %}