{% extends "SNDLLPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

    <div class="row">
        <div id="chart_div5" class="col-md-12"></div>
    </div>

    <div class="row">
        <div id="btn-retour-liste-cot" class="btn-group col-md-4" role="group">
            <a href="{{ path('sndll_platform_stats') }}" class="btn btn-default col-md-12">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la page précédente
            </a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart4);

        function drawChart4() {
            var jsonData = $.ajax({
                url: "{{ path('sndll_platform_chart4_json') }}",
                dataType:"json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                region: 'FR',
                'title':'Carte des adhérents en cours',
                'width':800,
                'height':550,
                displayMode: 'markers',
                colorAxis: {colors: ['green', 'blue']}
            };

            var chart = new google.visualization.GeoChart(document.getElementById('chart_div5'));
            chart.draw(data, options);
        }

    </script>
    {{ parent() }}

{% endblock %}
