{% extends "SNDLLPlatformBundle:OGC:ogclayout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Ajouter un centre SACEM</h2>

    {{ include("SNDLLPlatformBundle:OGC/Sacem:form.html.twig") }}

    <p>
        <a href="{{ path('sndll_ogc_sacem') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste des centres Sacem
        </a>
    </p>
    <div class="alert alert-info" role="alert">
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Attention : cette cotisation sera ajoutée directement dans la base des cotisation après validation du formulaire.
        </p>
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Les champs marqués d'une étoile (*) sont obligatoires
        </p>
    </div>
{% endblock %}