#menu {

}

#menu a {
    background-color: #eeeeee;
    text-align: center;
    color: #000000;
}

#menu .active a {
    background-color: #428BCA;
    color: #ffffff;
}

#menu a:hover {
    background-color: #3071A9;
    color: #ffffff;
}

